RewriteEngine On
RewriteBase /project/

RewriteCond %{QUERY_STRING} !v=Academy [NC]
RewriteRule ^$ index.html [L]

RewriteCond %{QUERY_STRING} !academyURL [NC]
RewriteRule ^([^/]+)/?$ index.php?academyURL=$1&v=Academy [QSA,L]

RewriteRule ^index.html$ - [L]

RewriteRule ^([^/]+)/?$ index.php?academyURL=$1 [QSA,L]
